[submodule "thirdparty/urdfdom"]
	path = thirdparty/urdfdom
	url = https://github.com/ros/urdfdom.git
[submodule "thirdparty/urdfdom_headers"]
	path = thirdparty/urdfdom_headers
	url = https://github.com/ros/urdfdom_headers.git
[submodule "thirdparty/console_bridge"]
	path = thirdparty/console_bridge
	url = https://github.com/ros/console_bridge.git
[submodule "thirdparty/discreture"]
	path = thirdparty/discreture
	url = https://github.com/mraggi/discreture.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "thirdparty/towr"]
	path = thirdparty/towr
	url = https://github.com/ethz-adrl/towr.git
[submodule "thirdparty/Ipopt"]
	path = thirdparty/Ipopt
	url = https://github.com/coin-or/Ipopt.git
[submodule "thirdparty/ifopt"]
	path = thirdparty/ifopt
	url = https://github.com/ethz-adrl/ifopt.git
